@import "mixins";
@import "variables";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
}

.elems-columns{
    width: 275px;
    height: 100vh;
    background: $columnBase;
}

.elems-wrapper{
    display: flex;
}

.elems-columns+.elems-columns{
    margin-left: 10px;
}

.card-elem{
    width: 100%;
    padding: 15px;
    background: $cardElem;

    .card-elem__customer{
        font-size: 10px;
    }
    
    .card-elem__name{
        margin-top: 15px;
        font-size: 16px;
        font-weight: 500;
    }
    
    .card-elem__date{
        margin-top: 15px;
        font-size: 10px;
    }

    &:hover{
        cursor: pointer;
    }
}

.card-elem+.card-elem{
    margin-top: 8px;
}


